* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

p, label {
    font-size: large;
}

section {
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 100vh;
}

nav {
    display: flex;
    padding: 12px;
    background-color: #2A9D8F;
    color: #FAF9F6;
}

nav, a {
    color: #FAF9F6;
    text-decoration: none;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

nav a, 
h1 {text-shadow: 1px 1px 1px #000;}

.nav-links {padding-right: 0.3em;}

h1 {
    flex: 1;
    padding-left: 0.3em;
}

.dropdown.active > .link,
.link:hover {
    color: #FAF9F6;
}

.dropdown {
    position: relative;
}

.about {
    width: max-content;
}

/* .dropdown-heading {
    
} */

.dropdown-packages {
    font-weight: 300;
}

.packages-grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    top: calc(0 + .4rem);
    background-color: #264653;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 2px 4px 2px 1px rgba(0, 0, 0, .4);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .link + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}


main {
    background-color: #FAF9F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#searchContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: #F4A261;
}

#search {
    flex: 1;
    padding: 1.6rem;
}

#desc {font-weight: 700;}

.github-link {
    text-decoration: underline;
    text-shadow: none;
}

.dropdown-heading {
    font-size: medium;
    text-shadow: none;
}

.div > p {
    font-size: small;
    font-weight: 300;
    text-shadow: none;
}

button, input {
    background-color: #FAF9F6;
    padding: 0.8em;
}

/* progress bar animation */
.progress-container {
    height: 25px;
    width: 25%;
    background-color: #ccc;
    border-radius: 6px;
    position: relative;
}

.progress-bar {
    position: absolute;
    height: 100%;
    background-color: #e76f51;
    border-radius: 6px;
}


#play-animation {animation: progress-animation 2.5s forwards;}
#play-loading   {animation: text-animation 1.2s ease-in-out infinite;
font-weight: 700;}

@keyframes progress-animation {
    0% {width: 0%;}
    100% {width: 100%;}
}

@keyframes text-animation {
    0% {opacity: 0;}
    50% {opacity: 0.5;}
}

#trackerContainer {
    flex: 2;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    background-color: #FAF9F6;
    padding: 2px;
}

article {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex: 4;
    background-color: #FAF9F6;
    padding-top: 1em;
    padding-bottom: 2em;
}


footer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #264653;
    color: #FAF9F6;
}