* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

p, label {
    font-size: large;
}

section {
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 100vh;
}

nav {
    display: flex;
    padding: 12px;
    background-color: #2A9D8F;
    color: #FAF9F6;
}

nav, a {
    color: #FAF9F6;
    text-shadow: 2px 4px 6px #000;
    text-decoration: none;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.nav-links {
    padding: 0.3em;
}

h1 {
    flex: 1;
    padding-left: 0.2em;
    text-shadow: 2px 4px 6px #000;
}


main {
    background-color: #FAF9F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#searchContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: #F4A261;
}

#search {
    flex: 1;
    padding: 1.6rem;
}

#desc {font-weight: 700;}

button, input {
    background-color: #FAF9F6;
    padding: 0.8em;
}

/* progress bar animation */
.progress-container {
    height: 25px;
    width: 25%;
    background-color: #ccc;
    border-radius: 6px;
    position: relative;
}

.progress-bar {
    position: absolute;
    height: 100%;
    background-color: #e76f51;
    border-radius: 6px;
}


#play-animation {animation: progress-animation 2.5s forwards;}
#play-loading   {animation: text-animation 1.2s ease-in-out infinite;
font-weight: 700;}

@keyframes progress-animation {
    0% {width: 0%;}
    100% {width: 100%;}
}

@keyframes text-animation {
    0% {opacity: 0;}
    50% {opacity: 0.5;}
}





#trackerContainer {
    flex: 2;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    background-color: #FAF9F6;
    padding: 2px;
}

article {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex: 4;
    background-color: #FAF9F6;}


footer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #264653;
    color: #FAF9F6;
}