* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* html, body {
    height: 100%;
} */

/* body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: yellow;
} */

/* body > nav, main, footer {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
} */

nav {
    display: flex;
    padding: 12px;
    background-color: #2A9D8F;
    color: #FAF9F6;
}

nav, a {
    color: #FAF9F6;
    text-shadow: 2px 4px 6px #000;
    text-decoration: none;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.nav-links {
    padding: 0.3em;
}

h1 {
    flex: 1;
    padding-left: 0.2em;
    text-shadow: 2px 4px 6px #000;
}

/* .fill-page {
    display: flex;
    flex-direction: column;
}

.fill-page > div {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
} */

main {
    background-color: #FAF9F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#searchContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 0;
    background-color: #F4A261;
}

#search {
    flex: 1;
    padding: 1em;
}

#desc {font-weight: 700;}

button, input {
    background-color: #FAF9F6;
    padding: 0.8em;
}


#trackerContainer {
    flex: 1;
    background-color: #FAF9F6;
    margin: 2px;
    padding: 6px;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    background-color: #FAF9F6;
}